h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
}

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

p {
  margin: 10px 0;
  font-size: 1rem;
}

.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
  background-color: #fff;
  color: #222;
}

.split {
  width: 50%;
}

table {
  background-color: #eee;
  border: 1px solid whitesmoke;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid whitesmoke;
}

th {
  background-color: lightgrey;
  font-weight: 600;
}

td {
  background-color: #eee;
}
